@font-face {
  font-family: 'Source Sans Pro';
  src: url("src/sourcesanspro/sourcesanspro-bold-webfont.eot");
  src: url("src/sourcesanspro/sourcesanspro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("src/sourcesanspro/sourcesanspro-bold-webfont.woff") format("woff"), url("src/sourcesanspro/sourcesanspro-bold-webfont.ttf") format("truetype"), url("src/sourcesanspro/sourcesanspro-bold-webfont.svg#source_sans_probold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Source Sans Pro';
  src: url("src/sourcesanspro/sourcesanspro-light-webfont.eot");
  src: url("src/sourcesanspro/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("src/sourcesanspro/sourcesanspro-light-webfont.woff") format("woff"), url("src/sourcesanspro/sourcesanspro-light-webfont.ttf") format("truetype"), url("src/sourcesanspro/sourcesanspro-light-webfont.svg#source_sans_prolight") format("svg");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Source Sans Pro';
  src: url("src/sourcesanspro/sourcesanspro-regular-webfont.eot");
  src: url("src/sourcesanspro/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("src/sourcesanspro/sourcesanspro-regular-webfont.woff") format("woff"), url("src/sourcesanspro/sourcesanspro-regular-webfont.ttf") format("truetype"), url("src/sourcesanspro/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'dripicons';
  src: url("src/dripicons/dripicons.eot");
  src: url("src/dripicons/dripicons.eot?#iefix") format("embedded-opentype"), url("src/dripicons/dripicons.ttf") format("truetype"), url("src/dripicons/dripicons.svg#dripicons") format("svg"), url("src/dripicons/dripicons.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box; }

html,
body,
form,
pre,
figure,
ul,
li {
  color: #4d555b;
  font-size: 0.875rem;
  -webkit-font-smoothing: subpixel-antialiased;
  margin: 0;
  padding: 0; }

body {
  font: 400 0.875rem/1.5 "Source Sans Pro", sans-serif; }

img {
  border: 0; }

ul,
li {
  list-style: none; }

input,
optgroup,
select,
textarea {
  color: #4d555b;
  font-size: .875rem;
  font-weight: normal; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4d555b;
  font-size: 1.5rem;
  font-weight: 200; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th,
td {
  padding: 0;
  text-align: left; }

span.mandatory {
  color: #c33; }

a {
  color: #555;
  text-decoration: none; }
  a:hover, a:focus, a:active {
    color: #f7642a; }
  a.tl_submit {
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    font-size: .875rem;
    padding: .25rem .875rem; }
  a.tl_submit:hover {
    color: #555; }

hr {
  background: #ddd;
  border: 0;
  color: #ddd;
  height: 1px;
  margin: 1rem 0; }

p {
  margin: 0 0 1rem;
  padding: 0; }

.tl_small {
  font-size: .75rem; }

.tl_small,
.tl_gray {
  color: #999; }

.tl_green {
  color: #f57710; }

.tl_red {
  color: #c33; }

.tl_blue {
  color: #4b85ba; }

.tl_orange {
  color: #f90; }

.hidden {
  display: none; }

.clear {
  clear: both;
  font-size: .1px;
  height: .1px;
  line-height: .1px; }

.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

optgroup {
  background: #fff;
  font-style: normal;
  padding-bottom: .25rem;
  padding-top: .25rem; }

fieldset.tl_checkbox_container, fieldset.tl_radio_container {
  border: 0;
  margin: 1rem 0 0.5rem;
  padding: 0;
  line-height: 1.4; }
fieldset.tl_checkbox_container legend, fieldset.tl_radio_container legend {
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1;
  margin: 0;
  padding: 0 0 .5rem; }
fieldset.checkbox_container, fieldset.radio_container {
  border: 0;
  margin: 0;
  padding: 0; }

.tl_text,
.tl_text_2,
.tl_text_3,
.tl_text_4,
.tl_textarea {
  margin: 0; }

.tl_text {
  width: 22rem; }
  .tl_text_2 {
    width: 11rem; }
  .tl_text_3 {
    width: 7rem; }
  .tl_text_4 {
    width: 5rem; }
  .tl_text_unit {
    margin: 1px 0;
    width: 18rem; }
  .tl_text_trbl {
    margin: 1px 0;
    width: 4rem; }
  .tl_text_interval {
    margin: 1px 0;
    width: 11rem; }

.tl_textarea {
  height: 240px;
  width: 50%;
  width: calc(50% + 312px); }
  .tl_textarea.monospace:focus {
    background: 0; }

.tl_text,
.tl_text_2,
.tl_text_3,
.tl_text_4,
.tl_text_unit,
.tl_text_trbl,
.tl_text_interval,
.tl_textarea {
  border: 1px solid #aaa;
  border-radius: .25rem;
  padding: .25rem; }
  .tl_text:focus,
  .tl_text_2:focus,
  .tl_text_3:focus,
  .tl_text_4:focus,
  .tl_text_unit:focus,
  .tl_text_trbl:focus,
  .tl_text_interval:focus,
  .tl_textarea:focus {
    background-color: #f9fafa; }
  .tl_text[disabled],
  .tl_text_2[disabled],
  .tl_text_3[disabled],
  .tl_text_4[disabled],
  .tl_text_unit[disabled],
  .tl_text_trbl[disabled],
  .tl_text_interval[disabled],
  .tl_textarea[disabled] {
    background-color: #f9fafa;
    border: 1px solid #e5e5e5;
    color: #bbb; }

.mac .tl_text,
.mac .tl_text_2,
.mac .tl_text_3,
.mac .tl_text_4,
.mac .tl_text_unit,
.mac .tl_text_trbl,
.mac .tl_text_interval,
.mac .tl_textarea {
  padding: .25rem; }
.mac .tl_select,
.mac .tl_mselect,
.mac .tl_select_column,
.mac .tl_select_unit,
.mac .tl_select_interval {
  padding: .25rem; }
.mac .tl_checkbox {
  margin: 0 .25rem 0 0;
  position: relative;
  top: -1px; }
.mac .tl_checkbox_single_container .tl_checkbox {
  top: -.25rem; }
.mac .tl_tree_checkbox {
  margin: .25rem .25rem 0 0; }

pre,
.tl_textarea.monospace {
  font-family: Courier, monospace;
  font-size: .875rem; }

.tl_select,
.tl_mselect,
.tl_select_column {
  margin: 0; }

.tl_box .tl_select,
.tl_box .tl_mselect,
.tl_tbox .tl_select,
.tl_tbox .tl_mselect {
  width: 23rem; }

.tl_select_column {
  width: 10rem; }

.tl_select_unit {
  margin: 0;
  width: 4rem; }

.tl_select_interval {
  margin: 0;
  width: 11rem; }

.tl_select,
.tl_mselect,
.tl_select_column,
.tl_select_unit,
.tl_select_interval {
  border: 1px solid #aaa;
  border-radius: .25rem;
  padding: 0; }
  .tl_select[disabled],
  .tl_mselect[disabled],
  .tl_select_column[disabled],
  .tl_select_unit[disabled],
  .tl_select_interval[disabled] {
    background-color: #f9f9f9;
    border: 1px solid #c8c8c8;
    color: #bbb; }

.tl_checkbox {
  margin: 0 .25rem 0 0;
  vertical-align: bottom; }

.ie .tl_checkbox {
  margin: -.25rem 0 0 -.125rem;
  position: relative;
  top: 1px;
  vertical-align: middle; }
.ie .tl_checkbox_single_container .tl_checkbox {
  top: 0; }

.tl_tree_checkbox {
  margin: 0 .25rem 0 0; }

.tl_checkbox_single_container {
  margin: 1rem 0 0; }
  .tl_checkbox_single_container label {
    font-weight: normal; }

.tl_checkbox_container label {
  display: block;
  margin: -.875rem 0;
  padding-left: 1.5rem;
  line-height: 1; }
  .tl_checkbox_container label:last-child {
    margin-bottom: 0; }

.checkbox_toggler {
  font-weight: bold; }

.checkbox_toggler_first {
  font-weight: bold;
  margin-top: .25rem; }

.checkbox_toggler img,
.checkbox_toggler_first img {
  margin-right: .25rem;
  position: relative;
  top: -2px;
  vertical-align: top; }

.checkbox_options {
  margin: 0 0 .5rem 1.5rem !important; }

.tl_radio {
  margin: 0 .25rem 0 0;
  vertical-align: bottom; }

.win .tl_radio {
  margin: 0 .25rem .25rem 0; }

.tl_tree_radio {
  margin: 0 .25rem;
  vertical-align: middle; }

.tl_radio_table {
  margin: .125rem 0; }
  .tl_radio_table td {
    padding: 0 1.5rem 0 0; }
  .tl_radio_table img,
  .tl_radio_table input {
    vertical-align: middle; }

.tl_upload_field {
  margin: 0; }

.tl_submit {
  background: #eee;
  background-image: linear-gradient(to top, #ccc 0, #eee 60%);
  border: 1px solid #aaa;
  border-radius: .25rem;
  color: #555;
  cursor: pointer;
  line-height: 1;
  padding: .5rem 1rem;
  text-shadow: 1px 1px 0 #eee; }
  .tl_submit:focus, .tl_submit:hover {
    box-shadow: 0 0 .25rem #aaa; }
  .tl_submit:active {
    box-shadow: 0 0 .5rem #999;
    color: #bbb; }
  .tl_submit:disabled {
    background: #ddd;
    box-shadow: none;
    color: #999;
    cursor: default;
    text-shadow: none; }

.clr {
  clear: both;
  display: table; }

.w50 {
  float: left;
  height: 6.25rem;
  width: 50%; }
  .w50 .tl_help {
    margin-right: 1.5rem; }

.long {
  width: 100%; }
  .long .tl_text {
    width: 41rem; }
  .long .tl_select {
    width: 48rem; }

.wizard .tl_text {
  width: 21rem; }
.wizard .tl_text_2 {
  width: 10rem; }

.m12 {
  margin: 1rem 0; }

.cbx {
  height: 3.5rem; }

.inline div {
  display: inline; }

.autoheight {
  height: auto; }

.tl_tip {
  cursor: pointer;
  height: 1.2rem;
  overflow: hidden; }

.tip-wrap {
  z-index: 99; }

.tip {
  background: rgba(0, 0, 0, 0.9);
  border-radius: .25rem;
  margin-left: 1rem;
  margin-top: .25rem;
  max-width: 50rem;
  padding: .25rem .5rem; }
  .tip div,
  .tip a {
    color: #fff; }

.tip-top {
  border-bottom: 0.5rem solid rgba(0, 0, 0, 0.9);
  border-left: .5rem solid transparent;
  border-right: .5rem solid transparent;
  height: .5rem;
  margin-left: 1rem;
  margin-top: .25rem;
  position: absolute;
  top: -0.55rem; }

.ce_accordion .toggler {
  font-weight: bold; }

.ce_download:before, .ce_download:after,
.ce_downloads:before,
.ce_downloads:after {
  content: ' ';
  display: table; }
.ce_download:after,
.ce_downloads:after {
  clear: both; }
.ce_download a,
.ce_downloads a {
  display: block;
  overflow: hidden;
  padding-right: 1.5rem; }
  .ce_download a:before, .ce_download a:after,
  .ce_downloads a:before,
  .ce_downloads a:after {
    content: ' ';
    display: table; }
  .ce_download a:after,
  .ce_downloads a:after {
    clear: both; }
.ce_download .mime_icon,
.ce_downloads .mime_icon {
  float: left;
  margin-right: .5rem; }
.ce_download .size,
.ce_downloads .size {
  float: right;
  font-size: .875rem; }

.ce_downloads ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.ce_gallery > ul {
  list-style: none;
  margin: -.25rem -.25rem .75rem;
  padding: 0; }
  .ce_gallery > ul:before, .ce_gallery > ul:after {
    content: ' ';
    display: table; }
  .ce_gallery > ul:after {
    clear: both; }
  .ce_gallery > ul li {
    float: left;
    padding: .25rem; }

.ce_table table {
  width: 100%; }
.ce_table td,
.ce_table th {
  padding: .25rem 0; }

.ce_text:before, .ce_text:after {
  content: ' ';
  display: table; }
.ce_text:after {
  clear: both; }

.image_container.float_above {
  margin: 0 0 1rem; }
.image_container.float_left, .image_container.float_right {
  max-width: 50%; }
.image_container.float_left {
  float: left;
  margin: 0 1rem 1rem 0; }
.image_container.float_right {
  float: right;
  margin: 0 0 1rem 1rem; }

.pagination {
  margin: 1rem 0 0; }
  .pagination p {
    float: left;
    margin-bottom: 0; }
  .pagination ul {
    float: right; }
  .pagination li {
    display: inline-block;
    margin: 0 .5rem; }
  .pagination a:hover {
    color: #f7642a; }
  .pagination .current {
    color: #f7642a; }

/*# sourceMappingURL=basic.css.map */
