html,
body {
  background: #fff;
  height: 100%; }

body.popup {
  background: #fff;
  min-width: 0;
  padding: 0; }

a {
  color: #4d555b; }
  a.navigation {
    color: #6e6e6e;
    margin-left: 0; }

strong {
  font-weight: normal; }

#header,
#container,
#footer {
  margin: 0 0 0 18rem; }

#header {
  background: #fff;
  border-bottom: 1px solid #d9dbe8; }
  #header h1 {
    border-bottom: 1px solid #e5e5e5;
    color: #4d555b;
    font-family: Arial;
    font-size: .75rem;
    margin: 0;
    padding: .5rem 1rem;
    text-transform: uppercase; }

#tmenu {
  color: #fff;
  margin: -.125rem;
  padding: .5rem 1rem; }
  #tmenu a {
    border: 1px solid #888;
    border-radius: .25rem;
    color: #4d555b;
    display: inline-block;
    margin: .125rem; }
    #tmenu a:hover {
      background: #fff;
      color: #f7642a; }

#container {
  background: #fff;
  box-shadow: 0 0 2rem #bbb; }

#footer {
  background: #fff;
  border-top: 1px solid #e5e5e5; }
  #footer div {
    margin: 0;
    padding: 1rem;
    text-align: right; }

#main {
  background: #fff; }

.popup h1.main_headline {
  display: none; }
.popup #main {
  border: 0;
  box-shadow: none;
  float: none;
  margin: 0;
  padding: 0; }
.popup #container {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%; }
.popup .tl_listing_container {
  margin: 2rem 1rem; }
.popup .tl_formbody_edit {
  padding-bottom: 3.5rem; }
.popup .tl_formbody_submit {
  bottom: 0;
  height: 3.5rem;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 5; }

#left {
  background: #26324a;
  background-image: linear-gradient(to top, #1c273e 0%, #24305a 100%);
  box-shadow: inset -0.125rem -0.25rem 0.5rem rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  padding-bottom: 5rem;
  position: fixed;
  top: 0;
  width: 18rem; }

#tl_navigation {
  background: url("images/logo-save.png") 0 -10px no-repeat;
  height: 100%;
  overflow: hidden;
  padding-top: 6.5rem; }
  #tl_navigation h1 {
    color: #fff;
    margin: 0;
    padding: .25rem 1rem; }
  #tl_navigation .tl_level_1 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.066);
    border-top: 1px solid rgba(255, 255, 255, 0.066);
    height: 70%;
    height: calc(100% - 143px);
    margin-top: 0 !important;
    overflow: scroll;
    overflow-x: hidden;
    text-indent: .5rem;
    width: 110%; }
    #tl_navigation .tl_level_1 a {
      color: #fff;
      display: block; }
  #tl_navigation .tl_level_1_group a {
    background: rgba(255, 255, 255, 0.025);
    border-bottom: 1px solid rgba(255, 255, 255, 0.066);
    font-size: 1.15rem;
    padding: .5rem; }
    #tl_navigation .tl_level_1_group a:hover {
      background: rgba(0, 0, 0, 0.075); }
  #tl_navigation .tl_level_1_group img {
    margin-bottom: -.25rem;
    margin-right: .25rem;
    opacity: .33; }
  #tl_navigation .tl_level_2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.066); }
    #tl_navigation .tl_level_2 li {
      border-bottom: 1px solid rgba(255, 255, 255, 0.066);
      text-indent: 3px; }
    #tl_navigation .tl_level_2 li:last-child {
      border-bottom: 0; }
    #tl_navigation .tl_level_2 a {
      color: rgba(225, 225, 255, 0.5);
      font-weight: normal;
      line-height: 2rem;
      padding-left: 2rem; }
      #tl_navigation .tl_level_2 a:hover {
        background: rgba(0, 0, 0, 0.125);
        color: #fff; }
      #tl_navigation .tl_level_2 a.active {
        background: rgba(0, 0, 0, 0.225);
        color: #fff; }
  #tl_navigation .active {
    color: #f57710; }

#tl_buttons,
#tl_buttons_a {
  margin: 1rem;
  text-align: right; }

.toggleWrap {
  cursor: pointer;
  vertical-align: text-bottom; }

.opacity {
  opacity: .8; }

.main_headline {
  margin: 0;
  padding: 1rem; }

#tl_welcome,
h2.sub_headline,
h2.sub_headline_all,
h2.sub_headline_update,
h2.sub_headline_index,
h2.sub_headline_rss {
  background-image: none !important;
  color: #4d555b;
  font-size: 2rem;
  margin: .25rem 1rem .5rem;
  padding: .5rem 0 .5rem; }

h2.sub_headline {
  background: url("images/current.gif") no-repeat 0 50%; }
h2.sub_headline_all {
  background: url("images/all_big.gif") no-repeat 0 50%; }
h2.sub_headline_update {
  background: url("images/update.gif") no-repeat 0 50%; }
h2.sub_headline_index {
  background: url("images/index.gif") no-repeat 0 50%; }

.tl_message {
  margin: 1rem 1rem 0; }

.tl_gerror {
  background: url("images/error.gif") no-repeat 0 50%;
  margin: 1rem .5rem .5rem;
  padding: .25rem 0 .25rem 1.5rem; }

.tl_error,
.tl_confirm,
.tl_info,
.tl_new {
  background-position: .5rem 50%;
  background-repeat: no-repeat;
  border: 1px solid #e5e5e5;
  margin: 0;
  padding: .25rem .25rem .25rem 2rem; }

.tl_error {
  background-color: #faeeee;
  background-image: url("images/error.gif"); }

.tl_confirm {
  background-color: #f3f8ee;
  background-image: url("images/ok.gif"); }

.tl_info {
  background-color: #eff5fa;
  background-image: url("images/show.gif"); }

.tl_new {
  background-color: #fff3e0;
  background-image: url("images/featured.gif"); }

.tl_gerror,
.tl_gerror a,
.tl_error,
.tl_error a {
  color: #c33; }

.tl_confirm,
.tl_confirm a {
  color: #f7642a; }

.tl_info,
.tl_info a {
  color: #4b85ba; }

.tl_new,
.tl_new a {
  color: #d68c23; }

#lu_message {
  margin-top: 0; }
  #lu_message .tl_confirm,
  #lu_message .tl_info {
    background-color: transparent;
    background-position: 0 50%;
    padding-left: 1rem; }

.nobg .tl_error,
.nobg .tl_confirm,
.nobg .tl_info,
.nobg .tl_new {
  background-color: transparent; }

.tl_permalert {
  background-image: none;
  border-top: 1px solid #e5e5e5;
  margin: 0;
  padding: .5rem 1rem; }
  .tl_permalert a {
    color: #555;
    float: right;
    margin: 0 .25rem 0 1.5rem; }

.tl_panel,
.tl_version_panel {
  border-top: 1px solid #e5e5e5;
  padding: .5rem 1rem; }

.tl_formbody .tl_panel:last-child,
.tl_formbody .tl_version_panel:last-child {
  border-bottom: 1px solid #e5e5e5; }

.tl_panel_bottom {
  background: #f3f3f3;
  border-top: 1px solid #e5e5e5;
  margin-top: 1px;
  padding: .5rem .5rem .5rem 0;
  text-align: right; }

.tl_version_panel .tl_select {
  width: 17rem; }
.tl_version_panel .tl_formbody {
  position: relative; }
.tl_version_panel .tl_submit {
  margin-top: 1px;
  vertical-align: top; }
.tl_version_panel img {
  position: relative;
  top: .25rem;
  vertical-align: top; }

.mac .tl_version_panel .tl_select,
.mac .tl_panel_bottom .tl_select {
  font-size: .75rem; }
.mac .tl_panel .tl_select,
.mac .tl_panel .tl_text {
  font-size: .75rem; }
.mac .tl_panel select {
  max-width: 12rem; }
.mac #search .tl_text {
  padding: .25rem .125rem; }
.mac.firefox .tl_listing .tl_right {
  padding: 0; }

.safari .tl_version_panel,
.ie .tl_version_panel {
  overflow: hidden; }

.safari .tl_version_panel .tl_formbody,
.ie .tl_version_panel .tl_formbody {
  float: right; }

.webkit .tl_version_panel .tl_submit,
.ie .tl_version_panel .tl_submit {
  padding-bottom: .25rem;
  padding-top: .25rem; }

.opera .tl_version_panel .tl_submit {
  padding-bottom: .25rem;
  padding-top: .25rem; }

.tl_subpanel {
  float: right; }
  .tl_subpanel strong {
    margin-left: .5rem; }

.tl_submit_panel {
  padding: 0 .5rem; }

.tl_img_submit {
  vertical-align: bottom; }

.tl_panel .active,
.tl_panel_bottom .active,
#search .active {
  background: #ffd; }

.tl_panel .tl_select {
  width: 10rem; }

.tl_filter .tl_select {
  margin: 0 .125rem;
  width: 10rem; }

.tl_limit .tl_select {
  margin: 0 .125rem;
  width: 9rem; }

.tl_search .tl_text {
  margin: 0 .125rem;
  width: 10rem; }

.styled_select b {
  background: none; }

.tl_xpl,
.tl_formbody_edit {
  padding: 0 1rem; }

.tl_tbox {
  padding: 0 0 1.5rem; }

.tl_box {
  border-top: 1px solid #ddd;
  padding: .875rem 0 1.5rem; }

.tl_box h3,
.tl_tbox h3,
.tl_xpl h3 {
  font-weight: 200;
  margin: 0;
  padding: 1rem 0 0; }

.tl_box h4,
.tl_tbox h4 {
  font-size: .875rem;
  font-weight: bold;
  margin: .5rem 0 0;
  padding: 0; }

.tl_tbox.theme_import h3,
.tl_tbox.theme_import h4 {
  line-height: 1.5; }

.tl_help,
.tl_help a {
  color: #999;
  font-size: .875rem;
  margin-bottom: 0;
  padding: 0; }

.tl_help a:hover, .tl_help a:focus, .tl_help a:active {
  text-decoration: underline; }

.tl_submit_container {
  background: #fff;
  background: rgba(255, 255, 255, 0.87);
  border-top: 1px solid #e5e5e5;
  padding: 1rem; }

.maintenance_inactive {
  margin-top: 2rem; }
  .maintenance_inactive .tl_submit_container {
    background: 0;
    border: 0;
    margin: -1rem 0 2rem;
    padding-bottom: 0;
    padding-top: 0; }

#tl_buttons + .maintenance_inactive {
  margin-top: 0; }

#search {
  margin: 1rem 1rem -.5rem;
  text-align: right; }
  #search .tl_text {
    padding: .25rem .125rem;
    width: 12rem; }

.tl_edit_preview {
  margin: 1rem 1rem .5rem; }
  .tl_edit_preview img {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0.125rem 0.25rem #ddd;
    padding: .125rem; }

#tl_rebuild_index {
  padding: 0 1rem; }

#index_note {
  background: #ffc;
  border: 1px solid #f90;
  margin: 2rem 0 1rem;
  padding: 1rem; }

#index_loading,
#index_complete {
  background-position: 0 50%;
  background-repeat: no-repeat;
  font-size: 1.125rem;
  margin: 0 0 1rem;
  padding: 1rem 1rem 1rem 2.5rem; }

#index_loading {
  background-image: url("images/loading.gif");
  color: #4b85ba; }

#index_complete {
  background-image: url("images/help.gif");
  color: #f57710; }

.tl_listing li {
  list-style-type: none;
  margin: 0;
  padding: .5rem; }
  .tl_listing li.parent {
    display: inline;
    padding-left: 0;
    padding-right: 0; }
    .tl_listing li.parent:hover {
      border-left: 0;
      margin-left: 0; }
  .tl_listing li.tl_folder_top:hover {
    border-left: 0;
    padding-left: .5rem; }
.tl_listing tr.odd td {
  background-color: #f9fafa; }
.tl_listing th,
.tl_listing td {
  padding: .5rem; }
.tl_listing .tl_left {
  float: left;
  margin-left: 3rem;
  text-indent: -3rem;
  width: 19rem; }
.tl_listing .tl_right {
  float: right;
  margin: 0 0 -.5rem;
  padding: 0; }

.tl_listing_container {
  border: 1px solid #e5e5e5;
  border-width: 1px 1px 0 1px;
  margin: 2rem 1rem; }
  .tl_listing_container .tl_content ul li > * {
    vertical-align: middle; }

#tl_versions th,
.tl_folder_list,
.tl_folder_tlist {
  background: #f9fafa;
  border-bottom: 1px solid #e5e5e5;
  font-size: 1.125rem;
  font-weight: 200;
  padding: .5rem 0; }

.tl_folder_tlist {
  border-top: 0 solid #e5e5e5; }

.tl_file,
.tl_file_list {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  padding: 0; }

.tl_file_list {
  padding: .125rem 0; }

.tl_right_nowrap {
  padding: .125rem 0;
  text-align: right;
  white-space: nowrap; }

.tl_file a:hover, .tl_file a:focus, .tl_file a:active {
  color: #555; }

.list_view .tl_listing img {
  vertical-align: -.25rem; }
  .list_view .tl_listing img.theme_preview {
    margin: .25rem .5rem .25rem 0;
    vertical-align: middle; }

.tl_show {
  margin: 0 1rem 1rem;
  padding: .5rem 0 1rem;
  width: 52rem; }
  .tl_show td {
    padding: .25rem 0; }

.tl_bg {
  background: #f9fafa; }

.tl_label {
  font-weight: bold;
  margin-right: 1rem;
  white-space: nowrap; }

.tl_empty {
  margin: 0;
  padding: 1rem .5rem .5rem; }

.tl_empty_parent_view {
  border-bottom: 1px solid #e5e5e5;
  margin: 0;
  padding: 1rem; }

.tl_noopt {
  margin: 0; }

.tl_select_trigger {
  border-bottom: 1px solid #e5e5e5;
  padding: .5rem;
  text-align: right; }

.tl_select_label {
  color: #4d555b;
  font-size: .875rem;
  position: relative; }

.tl_header {
  background: #f9fafa;
  border-bottom: 1px solid #e5e5e5;
  padding: .5rem; }

.tl_header_table {
  padding: .25rem 0; }

.tl_content_header {
  background: #f6f6f6;
  border-bottom: 1px solid #e5e5e5;
  font-size: 1.5rem;
  font-weight: 200;
  padding: .5rem; }

.tl_content {
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  padding: .5rem;
  position: relative; }
  .tl_content.wrapper_start, .tl_content.wrapper_separator, .tl_content.wrapper_stop {
    background: #f3f3f3; }
  .tl_content.wrapper_start, .tl_content.wrapper_separator {
    border-bottom: 1px solid #e5e5e5; }
  .tl_content.wrapper_stop, .tl_content.wrapper_separator {
    border-top: 0; }
  .tl_content.wrapper_start h1 {
    margin: 0 0 .5rem .5rem; }
  .tl_content h1 {
    margin: 0 0 1rem;
    padding: 0; }
  .tl_content pre {
    margin-bottom: .25rem;
    margin-top: .25rem;
    white-space: pre-wrap;
    word-break: break-all; }
    .tl_content pre.disabled {
      color: #a6a6a6; }
  .tl_content span.comment {
    color: #4b85ba;
    display: inline-block;
    margin-bottom: .25rem; }

.no_padding {
  padding: .5rem; }

.tl_content_left {
  float: left; }

.tl_content_right {
  float: right;
  margin-left: 1rem;
  text-align: right; }

.cte_type {
  color: #c6c6c6;
  font-size: .75rem;
  margin-bottom: .75rem;
  width: 37rem; }
  .cte_type.published, .cte_type.unpublished {
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding: 0 0 .125rem 1.5rem; }
  .cte_type.published {
    background-image: url("images/published.gif"); }
  .cte_type.unpublished {
    background-image: url("images/unpublished.gif"); }
  .cte_type.published, .cte_type.published a {
    color: #f57710;
    font-size: .875rem; }
  .cte_type.unpublished, .cte_type.unpublished a {
    color: #c33;
    font-size: .875rem; }

.limit_height {
  overflow: hidden; }
  .limit_height input[type="file"] {
    position: relative; }

.limit_toggler {
  margin-top: .75rem; }

.tl_form_field_preview td {
  padding-right: .5rem; }
  .tl_form_field_preview td.col_0 {
    min-width: 12rem; }
.tl_form_field_preview .text,
.tl_form_field_preview .password {
  width: 10rem; }
.tl_form_field_preview .select {
  width: 10rem; }
.tl_form_field_preview textarea {
  width: 20rem; }

.tl_folder_top {
  background: #f9fafa;
  border-bottom: 1px solid #e5e5e5;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 0; }

.tl_folder {
  background: #f9fafa;
  border-bottom: 1px solid #e5e5e5;
  padding: 0; }

.tl_tree_xtnd .tl_file .tl_left {
  margin-left: 1.5rem;
  text-indent: -1.5rem; }
.tl_tree_xtnd .tl_folder .tl_left {
  width: 33rem; }
.tl_tree_xtnd ul.level_1 .tl_folder .tl_left {
  width: 32rem; }
.tl_tree_xtnd ul.level_2 .tl_folder .tl_left {
  width: 30rem; }
.tl_tree_xtnd ul.level_3 .tl_folder .tl_left {
  width: 28rem; }
.tl_tree_xtnd ul.level_4 .tl_folder .tl_left {
  width: 27rem; }
.tl_tree_xtnd ul.level_5 .tl_folder .tl_left {
  width: 26rem; }
.tl_tree_xtnd ul.level_6 .tl_folder .tl_left {
  width: 24rem; }
.tl_tree_xtnd ul.level_7 .tl_folder .tl_left {
  width: 23rem; }
.tl_tree_xtnd ul.level_8 .tl_folder .tl_left {
  width: 22rem; }
.tl_tree_xtnd ul.level_9 .tl_folder .tl_left {
  width: 20rem; }

ul.sortable li {
  cursor: move; }
ul.sgallery {
  overflow: hidden; }
  ul.sgallery li {
    float: left;
    margin-right: 0; }
ul.level_1 .tl_left {
  width: 18rem; }
ul.level_2 .tl_left {
  width: 27rem; }
ul.level_3 .tl_left {
  width: 26rem; }
ul.level_4 .tl_left {
  width: 24rem; }
ul.level_5 .tl_left {
  width: 23rem; }
ul.level_6 .tl_left {
  width: 22rem; }
ul.level_7 .tl_left {
  width: 20rem; }
ul.level_8 .tl_left {
  width: 19rem; }
ul.level_9 .tl_left {
  width: 17rem; }

.tl_listing,
.tl_listing ul {
  margin: 0;
  padding: 0;
  width: 100%; }

.tl_header:hover,
.tl_content:hover,
.tl_content.indent:hover,
.tl_content_header:hover,
.tl_listing li:hover,
.tl_listing tr:hover,
.tl_listing tr:hover td {
  background: #f0f1f5 !important; }

.tl_header:hover,
.tl_content:hover,
.tl_content.indent:hover,
.tl_listing li:hover,
.tl_listing tr:hover td.tl_file_list:first-child {
  border-left: 0.125rem solid #f7642a;
  margin-left: -.125rem; }

.tree_view .tl_listing .tl_left img {
  vertical-align: -.25rem; }
.tree_view .tl_listing .tl_folder_top img {
  vertical-align: -.125rem; }

label.tl_change_selected {
  color: #999;
  font-style: italic;
  vertical-align: top; }

#tl_breadcrumb {
  background: #ffd;
  border: 1px solid #d49822;
  margin: 0 0 1rem;
  overflow: hidden;
  padding: .25rem; }
  #tl_breadcrumb li {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0 .25rem; }
    #tl_breadcrumb li img {
      vertical-align: -.25rem; }

.selector_container ul {
  list-style-type: none;
  margin: 0 0 .75rem;
  overflow: hidden;
  padding: 0; }
.selector_container li {
  margin-right: .75rem; }
.selector_container img {
  vertical-align: top; }

.gimage {
  border: 1px solid #808080;
  margin: .125rem; }

#tl_soverview {
  margin: 1rem; }
  #tl_soverview table {
    border: 1px solid #e5e5e5;
    border-width: 0 1px; }

#tl_messages,
#tl_shortcuts {
  margin-bottom: 2rem; }

#tl_messages h2,
#tl_shortcuts h2,
#tl_versions h2 {
  background: #f9fafa;
  border: 1px solid #e5e5e5;
  margin: 1rem 0 .5rem;
  padding: .5rem; }

#tl_shortcuts p,
#tl_versions p {
  padding-left: .5rem;
  padding-right: .5rem; }

#tl_shortcuts p a {
  text-decoration: underline; }

#tl_versions {
  margin-top: 2rem; }
  #tl_versions th,
  #tl_versions td {
    border-bottom: 1px solid #e5e5e5; }
  #tl_versions th {
    background: #f6f6f6;
    border-top: 1px solid #e5e5e5;
    padding: .25rem; }
  #tl_versions td {
    padding: .5rem; }
    #tl_versions td:first-child {
      white-space: nowrap; }
    #tl_versions td:last-child {
      white-space: nowrap;
      width: 2rem; }
    #tl_versions td img {
      position: relative; }

.tl_chmod th,
.tl_chmod td {
  border: 1px solid #fff;
  text-align: center;
  width: 6rem; }
.tl_chmod th {
  background: #f0f0f0;
  font-weight: normal; }
.tl_chmod td {
  background: #f9fafa; }

.tl_modulewizard {
  margin: 0; }
  .tl_modulewizard td,
  .tl_modulewizard th {
    padding: 0 .5rem 0 0; }
  .tl_modulewizard th {
    font-weight: normal; }
  .tl_modulewizard img {
    position: relative; }
  .tl_modulewizard .tl_select {
    width: 28rem; }

.tl_modulewizard img.mw_enable,
.js .tl_modulewizard input.mw_enable {
  display: none; }

.js .button-move {
  display: inline;
  height: 0;
  left: -1000px;
  overflow: hidden;
  position: absolute;
  top: -1000px;
  width: 0; }
.js .tl_modulewizard img.mw_enable {
  cursor: pointer;
  display: inline; }
.js .tl_checkbox_wizard label {
  padding-left: 2.5rem; }

.tl_optionwizard {
  margin: 0; }
  .tl_optionwizard label {
    vertical-align: top; }
  .tl_optionwizard td,
  .tl_optionwizard th {
    padding: 0 .25rem 0 0; }
  .tl_optionwizard th {
    font-weight: normal;
    text-align: left; }
  .tl_optionwizard img {
    position: relative; }

.fw_checkbox {
  margin: 0; }

#tl_tablewizard {
  overflow: auto;
  padding-bottom: .125rem;
  width: 50rem; }

.tl_tablewizard td {
  padding: .125rem .25rem 0 0; }
  .tl_tablewizard td.tcontainer {
    height: 5.5rem;
    vertical-align: top;
    width: 10.5rem; }

.tl_listwizard li {
  padding-bottom: 0; }
.tl_listwizard .drag-handle {
  top: .25rem; }
.tl_listwizard .tl_text {
  width: 42rem; }

.tl_listwizard_img {
  position: relative;
  top: .25rem; }

.tl_checkbox_wizard {
  padding-top: .125rem; }
  .tl_checkbox_wizard .drag-handle {
    vertical-align: bottom; }
  .tl_checkbox_wizard .fixed {
    display: block; }
    .tl_checkbox_wizard .fixed label {
      padding-left: 1.5rem; }
  .tl_checkbox_wizard .sortable span {
    display: block;
    margin: 0; }
  .tl_checkbox_wizard label {
    display: block;
    margin: -1rem 0;
    padding-left: 3.5rem; }
    .tl_checkbox_wizard label:last-child {
      margin-bottom: 0; }
  .tl_checkbox_wizard .tl_checkbox {
    margin-right: 0; }

.tl_checkbox_wizard_img {
  position: relative;
  top: .25rem; }

.tl_metawizard,
.tl_metawizard li {
  margin: 0 0 .5rem; }

.tl_metawizard li {
  background: #fcfcfc;
  margin-bottom: .125rem;
  overflow: hidden;
  padding: .75rem; }
  .tl_metawizard li.odd {
    background: #f3f3f3; }
.tl_metawizard label {
  float: left;
  margin-top: .25rem;
  width: 7rem; }
.tl_metawizard .tl_text {
  float: left;
  width: 40rem; }
.tl_metawizard br {
  clear: left; }
.tl_metawizard .lang {
  display: block;
  font-weight: bold;
  margin-bottom: .75rem;
  position: relative; }

.tl_metawizard_img {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -1px; }

.tl_metawizard_new .tl_select {
  width: 21rem; }
.tl_metawizard_new .tl_submit {
  vertical-align: top; }
  .webkit .tl_metawizard_new .tl_submit, .ie .tl_metawizard_new .tl_submit {
    padding-bottom: .25rem;
    padding-top: .25rem; }
  .opera .tl_metawizard_new .tl_submit {
    padding-bottom: .25rem;
    padding-top: .25rem; }

#tl_ajaxBox {
  background: #fff url("images/loading.gif") no-repeat 100% 50%;
  border: .125rem solid #666;
  border-radius: .5rem;
  font-family: 'Trebuchet MS', Verdana, sans-serif;
  font-size: 1rem;
  left: 40%;
  padding: 1.5rem;
  position: absolute;
  text-align: left;
  width: 20%; }

#tl_ajaxOverlay {
  background: #fff;
  height: 100%;
  left: 0;
  opacity: .5;
  position: absolute;
  top: 0;
  width: 100%; }

.ce_gallery ul {
  overflow: hidden; }
.ce_gallery li {
  float: left;
  margin: 0 .5rem .5rem 0; }

#theme-store {
  margin-top: 1.5rem;
  text-align: right; }

.drag-handle {
  cursor: move;
  display: none;
  position: relative;
  top: 1px; }
  .js .drag-handle {
    display: inline; }

.parent_view .drag-handle,
.tl_tablewizard .drag-handle {
  top: 0; }

#manager {
  background: #f9fafa;
  border-bottom: 1px solid #e5e5e5;
  padding: .5rem; }
  #manager .open,
  #manager .close {
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding: .25rem 0 .25rem 1.5rem; }
  #manager .open {
    background-image: url("images/manager.gif"); }
  #manager .close {
    background-image: url("images/back.gif"); }

.ace_editor * {
  color: inherit;
  font-family: Courier, monospace;
  font-size: .875rem; }
.ace_editor.fullsize {
  bottom: 0;
  box-sizing: border-box;
  height: auto !important;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto; }

a.navigation.article {
  background-image: url("images/article.gif"); }
a.navigation.news {
  background-image: url("images/news.gif"); }
a.navigation.flash {
  background-image: url("images/flash.gif"); }
a.navigation.form {
  background-image: url("images/form.gif"); }
a.navigation.themes {
  background-image: url("images/themes.gif"); }
a.navigation.page {
  background-image: url("images/page.gif"); }
a.navigation.member {
  background-image: url("images/member.gif"); }
a.navigation.mgroup {
  background-image: url("images/mgroup.gif"); }
a.navigation.user {
  background-image: url("images/user.gif"); }
a.navigation.group {
  background-image: url("images/group.gif"); }
a.navigation.files {
  background-image: url("images/files.gif"); }
a.navigation.log {
  background-image: url("images/log.gif"); }
a.navigation.settings {
  background-image: url("images/settings.gif"); }
a.navigation.maintenance {
  background-image: url("images/cache.gif"); }
a.navigation.undo {
  background-image: url("images/undo.gif"); }
a.navigation.login {
  background-image: url("images/login.gif"); }
a.navigation.tpl_editor {
  background-image: url("images/template_editor.gif"); }

a.navigation,
.header_icon,
.header_home,
.header_user,
.header_preview,
.header_clipboard,
.header_logout,
.header_back,
.header_new,
.header_rss,
.header_edit_all,
.header_delete_all,
.header_new_folder,
.header_css_import,
.header_theme_import,
.header_store,
.header_toggle,
.header_sync {
  background-position: 0 50%;
  background-repeat: no-repeat;
  padding: .25rem 0 .25rem 1.5rem; }

a.navigation,
.header_icon,
.header_home,
.header_user,
.header_preview,
.header_clipboard,
.header_logout,
.header_back,
.header_new,
.header_rss,
.header_edit_all,
.header_delete_all,
.header_new_folder,
.header_css_import,
.header_theme_import,
.header_store,
.header_toggle,
.header_sync {
  background-image: none !important;
  padding: .125rem 1rem; }

#tl_buttons a,
#footer div a {
  background: transparent none;
  border: 1px solid #888;
  border-radius: .25rem;
  color: #4d555b;
  margin-left: .125rem;
  padding: .125rem 1rem;
  text-shadow: none; }

#header div a:hover,
#header div a:focus,
#header div a:active,
#tl_buttons a:hover,
#tl_buttons a:focus,
#tl_buttons a:active,
#footer div a:hover,
#footer div a:focus,
#footer div a:active,
.tl_submit,
.tl_submit:hover,
.tl_submit:focus,
.tl_submit:active {
  background: transparent none;
  border-color: #f7642a;
  box-shadow: none;
  color: #f7642a !important;
  text-shadow: none; }

.tl_submit:hover,
.tl_submit:focus,
.tl_submit:active {
  background: #f7642a;
  border-color: #f7642a;
  color: #fff !important; }

.tl_submit {
  margin-right: .125rem; }
  .tl_submit:disabled {
    background: transparent none;
    opacity: .5; }

.list_icon {
  background-position: 0 50%;
  background-repeat: no-repeat;
  margin-left: -.5rem;
  padding-left: 1.5rem; }

.list_icon_new {
  background-position: 0 50%;
  background-repeat: no-repeat;
  width: 1.125rem; }

.header_home {
  background-image: url("images/home.gif"); }

.header_user {
  background-image: url("images/login.gif"); }

.header_preview {
  background-image: url("images/preview.gif"); }

.header_clipboard {
  background-image: url("images/clipboard.gif"); }

.header_logout {
  background-image: url("images/logout.gif"); }

.header_back {
  background-image: url("images/back.gif"); }

.header_new {
  background-image: url("images/new.gif");
  padding-left: 1.25rem; }

.header_rss {
  background-image: url("images/rss.gif"); }

.header_edit_all {
  background-image: url("images/all.gif"); }

.header_delete_all {
  background-image: url("images/deleteAll.gif"); }

.header_new_folder {
  background-image: url("images/newfolder.gif"); }

.header_css_import {
  background-image: url("images/cssimport.gif"); }

.header_theme_import {
  background-image: url("images/theme_import.gif"); }

.header_store {
  background-image: url("images/store.gif");
  padding-left: 1.25rem; }

.header_toggle {
  background: url("images/folPlus.gif") no-repeat 0 50%; }

.header_sync {
  background-image: url("images/sync.gif"); }

.tl_news_published,
.tl_news_unpublished {
  padding: .125rem 0 .25rem 1.5rem; }

.tl_news_published {
  background: url("images/news.gif") no-repeat 0 50%; }

.tl_text_trbl,
.tl_imageSize_0,
.tl_imageSize_1,
#ctrl_gradient input,
#ctrl_playerSize input {
  background: url("images/hints.gif") no-repeat -20px 20px; }

#ctrl_playerSize_0 {
  background-position: 142px 1px !important; }

#ctrl_playerSize_1 {
  background-position: 143px -18px !important; }

.tl_imageSize_0 {
  background-position: 63px 1px !important; }

.tl_imageSize_1 {
  background-position: 64px -18px !important; }

.trbl_top {
  background-position: 47px -39px !important; }

.trbl_right {
  background-position: 47px -59px !important; }

.trbl_bottom {
  background-position: 47px -79px !important; }

.trbl_left {
  background-position: 47px -99px !important; }

#ctrl_shadowsize_top {
  background-position: 46px -119px !important; }

#ctrl_shadowsize_right {
  background-position: 46px -139px !important; }

#ctrl_shadowsize_bottom {
  background-position: 46px -159px !important; }

#ctrl_shadowsize_left {
  background-position: 46px -179px !important; }

#ctrl_borderradius_top {
  background-position: 0 -199px !important; }

#ctrl_borderradius_right {
  background-position: 47px -219px !important; }

#ctrl_borderradius_bottom {
  background-position: 47px -241px !important; }

#ctrl_borderradius_left {
  background-position: 0 -261px !important; }

label.error,
legend.error {
  color: #c33; }

.tl_tbox .tl_error,
.tl_box .tl_error {
  background: 0;
  font-size: .75rem;
  padding: 0; }

fieldset.tl_tbox {
  margin-top: 1rem; }
fieldset.tl_tbox, fieldset.tl_box {
  border: 1px solid #ddd;
  border-width: 1px 0 0;
  padding-top: .5rem; }
  fieldset.tl_tbox > legend,
  fieldset.tl_tbox > legend, fieldset.tl_box > legend,
  fieldset.tl_box > legend {
    background: url("images/palOpen.gif") 0 50% no-repeat;
    color: #f7642a;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: .25rem; }
fieldset.nolegend {
  padding-top: .875rem; }
fieldset.collapsed {
  margin-bottom: 0;
  padding-bottom: .875rem;
  padding-top: 0; }
  fieldset.collapsed div {
    display: none !important; }
  fieldset.collapsed > legend {
    background: url("images/palCollapsed.gif") 0 50% no-repeat; }

#tl_maintenance_cache th,
#tl_maintenance_cache td {
  border-bottom: 1px solid #e5e5e5; }
#tl_maintenance_cache th {
  background: #f6f6f6;
  border-top: 1px solid #e5e5e5;
  padding: .25rem .5rem; }
#tl_maintenance_cache tr:nth-child(even) td {
  background: #fcfcfc; }
#tl_maintenance_cache td {
  padding: .5rem; }
  #tl_maintenance_cache td:first-child {
    width: 1.125rem; }
  #tl_maintenance_cache td span {
    color: #999; }
#tl_maintenance_cache .nw {
  white-space: nowrap; }
#tl_maintenance_cache .tl_checkbox_container label {
  display: inline;
  font-weight: bold;
  margin: 0;
  padding-left: 0; }

.pagination {
  background: #f9fafa;
  border: 1px solid #e5e5e5;
  border-width: 1px 0;
  overflow: hidden;
  padding: .125rem 0 .25rem; }
  .pagination ul {
    float: right;
    padding-right: .25rem;
    text-align: right;
    width: 60%; }
  .pagination p {
    float: left;
    margin-bottom: 0;
    width: 30%; }
  .pagination li {
    display: inline;
    padding-right: .25rem; }
  .pagination .current {
    color: #999; }

#sync-results {
  margin: .5rem 1rem 0;
  overflow: hidden; }
  #sync-results p {
    margin-bottom: 0; }
  #sync-results .left {
    float: left;
    padding-top: .125rem; }
  #sync-results .right {
    float: right; }
  #sync-results .tl_checkbox {
    top: 0; }

.defaultSkin table.mceLayout {
  width: 100% !important; }

.chzn-container-active .chzn-single,
.styled_select.focused {
  background: #f9fafa; }

.w50 {
  margin-bottom: .75rem; }

@media only screen and (max-width: 1023px) {
  #header,
  #container,
  #footer {
    margin: 0 auto; }

  #header div {
    height: auto;
    line-height: 1;
    padding-bottom: .25rem; }
    #header div a {
      display: inline-block;
      margin-top: .5rem;
      padding: .5rem 0;
      text-align: center;
      width: 48%; }

  .tl_panel {
    display: none; }

  #tl_buttons a,
  #footer div a,
  .tl_submit {
    display: inline-block;
    margin: 0 .5rem .5rem 0;
    padding: .5rem 0;
    text-align: center;
    width: 47%; }

  .w50 {
    width: 100%; }

  #left,
  #tl_navigation .tl_level_1 {
    padding-bottom: 0;
    position: relative;
    width: 100%; }

  #tl_navigation .tl_level_1 li {
    border-width: 1px !important;
    float: left;
    width: 100%; }
  #tl_navigation .tl_level_1_group a {
    border-top: 1px solid rgba(255, 255, 255, 0.07); }
  #tl_navigation .tl_level_2 {
    border: 0; }
    #tl_navigation .tl_level_2 li {
      border: 0;
      width: 50%; }

  .tl_listing .tl_left {
    margin-left: 0;
    padding-left: 0 !important;
    text-indent: 0;
    width: auto !important; }

  .tl_file,
  .tl_file_list {
    padding-left: 2.25rem !important; } }

/*# sourceMappingURL=main.css.map */
