$base-color-bg: #fff;
$base-color: #4d555b;
$base-font-family: 'Source Sans Pro';
$base-font-family-fallback: sans-serif;
$base-font-size: 13px;

$link-color: #555;
$link-color-hover: #f7642a;

$primary-color: #f7642a;

$border-color: #ddd;

$left-color-bg: #26324a;

$mandatory-color: #c33;

$path-img: 'images'
$path-fonts: 'src'
